<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container" style="flex-basis: 100%;">
    <%if(isUserLoggedIn){%>
      <h1>Welcome <%= user.charAt(0).toUpperCase() + user.slice(1)%> to our Website!</h1>
    <div class="actions">
      <a href="/logout" class="btn">Log Out</a>
    </div>
    <%} else{%>
    <h1>Welcome to our Website!</h1>
    <div class="actions">
      <a href="/login" class="btn">Log In</a>
      <a href="/signup" class="btn">Create New Account</a>
    </div>
    <%} %>
    
  </div>
